.swiper-container img{
    width: 100%;
}
.container{
    background: #f8f8f8;
    padding-bottom: 50px;
}
.container .listone{
    background: #ffffff;
    width: 7.6rem;
    margin: 0.2rem;
    float: left;
}
.container img{
    width: 100%;
}
.container p{
    font-size: 0.75rem;
    padding: 0.1rem 0.5rem;
}
.container span, .container i{
    font-size: 0.75rem;
    color: #f49a00;
}
.footnav{
    width: 16rem;
    background: #464646;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.2rem 0;
}
.footnav ul li{
    float: left;
    width: 4rem;
    text-align: center;
    font-size: 0.75rem;
}
.footnav ul li img{
    width: 1rem;
}
.footnav ul li p{
    color: #ffffff;
}
