.swiper-container img{
    width: 100%;
}
.container{
    background: #f8f8f8;
    padding-bottom: 50px;
}
.container .listone{
    background: #ffffff;
    width: 7.6rem;
    margin: 0.2rem;
    float: left;
}
.container img{
    width: 100%;
}
.container p{
    font-size: 0.75rem;
    padding: 0.1rem 0.5rem;
}
.container span, .container i{
    font-size: 0.75rem;
    color: #f49a00;
}
.footnav{
    width: 16rem;
    background: #464646;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.2rem 0;
}
.footnav ul li{
    float: left;
    width: 4rem;
    text-align: center;
    font-size: 0.75rem;
}
.footnav ul li img{
    width: 1rem;
}
.footnav ul li p{
    color: #ffffff;
}
.footnav ul li .active{
    color: #ffb230;
}
.conBox{
    background: #faf9fe;
}
.header{
    height: 40px;
    background: #4c4c4c;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    position: relative;
}
.header span{
    font-size: 0.75rem;
}
.header a{
    float: left;
    background: url("../icon/left.png") no-repeat;
    background-size: 100% 100%;
    height: 12px;
    width: 12px;
    margin: 0.6rem;
    position: absolute;
    left: 0;
}
.banner{
    text-align: center;
    margin-bottom: 1rem;
}
.banner img{
    width: 16rem;
    margin: 0 auto;
}
.messList li{
    height: 36px;
    line-height: 36px;
    padding-left: 1rem;
    border-bottom: 1px solid #d9d8dd;
}
.messList li span{
    color:#f99519;
    font-size: 0.75rem;
}
.buycar{
    position: fixed;
    left:0;
    bottom: 0;
    width: 16rem;
}
.addnow{
    padding: 0.6rem 1.6rem;
    background: #e90212;
    color: #ffffff;
    font-size: 0.75rem;
    float: right;
}
.addcarnow{
    padding: 0.6rem 1.6rem;
    background: #f39900;
    color: #ffffff;
    font-size: 0.75rem;
    float: right;
}
.car{
    float: right;
    background: url("../icon/car.png") no-repeat center center;
    background-size: 1.2rem 1.2rem;
    width: 1.2rem;
    height:1.2rem;
    padding: 0.3rem 0.4rem;
    margin-right: 0.2rem;
    border: 1px solid #d3d3d3;
    position: relative;
}
.car span{
    width: 16px;
    height:16px;
    line-height: 16px;
    background: red;
    color: #ffffff;
    text-align: center;
    position: absolute;
    right: -2px;
    top:-2px;
    border-radius: 50%;
}
.centerbox {
    margin: 7rem 0;
    text-align: center;
}
.centerbox p{
    font-size: 0.75rem;
    color: #9d9ea5;
    padding: 2rem 0;
}
.centerbox button{
    height: 34px;
    background: #de1d1d;
    width: 8rem;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}
.listbox li{
    width: 4rem;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-left: none;
    height: 40px;
    line-height: 40px;
    font-size: 0.75rem;
    color: #9e9e9e;
    float: left;
    text-align: center;
}
.listbox li:nth-last-child(1){
    border-right: none;
}
.listbox li.active{
    color: #dc4945;
}
.goodList{
    background: #f9f9f9;
}
.goodList img{
    padding: 5px 0;
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 30px;
}
.goodList .goodsName{
    float: left;
    font-size: 16px;
    margin: 1rem;
}
.goodsChoose{
    float: left;
    font-size: 0.75rem;
}
.goodsChoose p{
    color: #cc3300;
    margin: 0.5rem;
}
.footerdiv{
    position: fixed;
    left:0;
    bottom: 2rem;
    width: 16rem;
    border-top: 1px solid #cccccc;
}
.checkall{
    display: inline-block;
    line-height: 50px;
    margin-left: 15px;
    padding-left: 24px;
    color: #333;
    background: url(../icon/cart_uncheck.jpg) no-repeat 0 14px;
}
.selected{
    background: url(../icon/cart_checked.jpg) no-repeat 0 14px;
 }
.sumdiv{
    float: right;
    line-height: 50px;
    color: #666;
}
.tobuy{
    display: inline-block;
    width: 30%;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
    float: right;
    color: #FFF;
    background-color:#e7011f;
}
.disabled{
     background: #e5e5e5;
     color: #9c9c9c;
     cursor: not-allowed;
 }
.address{
    padding: 1rem 0;
    background: #efefef;
}
.address input{
    width: 16rem;
    padding-left: 1rem;
    box-sizing: border-box;
    height: 30px;
    border: none;
}
.libox{
    padding:10px 0px 10px 20px;
    border-bottom: 1px solid #cccccc;
}
.libox img{
    width: 3rem;
    height:3rem;
    float: left;
}
.libox span{
    float: left;
    margin: 1rem 30px;
}
.libox div{
    float: right;
    text-align: right;
    padding-right: 20px;
}
.libox div .p1{
    font-size: 16px;
}
.libox div .p2{
    color: #666666;
    margin: 10px;
    margin-right: 0;
}
.priceBox{
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin-bottom: 20px;
}
.priceBox li{
    height:28px;
    line-height: 28px;
    padding: 0 20px;
}
.priceBox .ul1{
    float: left;
}
.priceBox .ul2{
    float: right;
    text-align: right;
}
.confirmBtn{
    width: 12rem;
    height:30px;
    border: none;
    border-radius: 5px;
    background: red;
    color: #ffffff;
    margin: 0 auto;
    display: block;
}
.plusAddress{
    margin-top: 5px;
    padding: 0 10px;
    margin-bottom: 30px;
}
.plusAddress li{
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    border-bottom:1px solid #cccccc;
}
.plusAddress input{
    border: none;
    outline: none;
    padding-left: 10px;
}
.plusAddress span{
    width: 64px;
    display: inline-block;
}




















